@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
:root {
  --orange-color: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);
  --Medium-Grey: hsl(201, 12%, 29%);
  --Dark-Blue: hsl(213, 19%, 18%);
  --Very-Dark-Blue: hsl(216, 12%, 8%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--Very-Dark-Blue);
  margin: 100px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  width: 380px;
  height: 400px;
  font-family: "Overpass", sans-serif;
  background-color: var(--Dark-Blue);
  border-radius: 1rem;
  padding: 30px 20px;
}

section {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}
img {
  width: fit-content;
}
main .thk {
  padding-left: 80px;
}
h1 {
  color: #fff;
  padding: 20px 0px;
}
h2 {
  text-align: center;
  color: #fff;
  font-weight: 600;
}
h3 {
  width: 50%;
  align-items: center;
  color: var(--orange-color);
  font-size: 16px;
  font-weight: 200;
  border-radius: 1rem;
  background-color: var(--Medium-Grey);
  margin: 20px 0px 20px 85px;
  padding: 0.3em 1em 0.1em;
}
h4 {
  text-align: center;
  color: #fff;
  font-weight: 100;
  margin-top: 20px;
}

p {
  color: var(--Light-Grey);
  padding: 5px 0px;
}
.rating-card__items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  justify-content: space-between;
  margin: 2rem auto;
  border-color: transparent;
}
.rating-card__btn {
  border-radius: 10rem;
  padding: 12px;
  color: var(--Light-Grey);
  background-color: var(--Medium-Grey);
  border-color: transparent;
  cursor: pointer;
  font-family: "Overpass", sans-serif;
  font-weight: 600;
}

.rating-card__btn:hover,
.rating-card__btn.active {
  background-color: var(--orange-color);
  color: var(--White);
}

.container-panel {
  color: aqua;
}
button {
  color: #fff;
  background-color: var(--orange-color);
  padding: 10px 120px;
  border-radius: 5rem;
  border-color: transparent;
  font-family: "Overpass", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
}
button:hover {
  background-color: var(--White);
  color: var(--orange-color);
}
